<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set character encoding -->
    <meta charset="UTF-8">
    <!-- Ensure proper rendering and touch zooming -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Define the viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set the title of the webpage -->
    <title>CSF Internship Assessment</title>
    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Include custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Container for the form -->
    <div class="container">
        <!-- Form title -->
        <h1>Weather Form</h1>
        <!-- Form for submitting weather information -->
        <form method="post" action="{{ url_for('weather') }}">
            <!-- Include hidden CSRF token field -->
            {{ form.hidden_tag() }}
            <!-- Input field for name -->
            <div class="form-group">
                {{ form.name.label }} {{ form.name(class="form-control") }}
            </div>
            <!-- Input field for email -->
            <div class="form-group">
                {{ form.email.label }} {{ form.email(class="form-control") }}
            </div>
            <!-- Input field for city -->
            <div class="form-group">
                {{ form.city.label }} {{ form.city(class="form-control") }}
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>
